body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding-left: 20px;
  padding-right: 20px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px 0;
  flex-grow: 1;
}

.brand-logo {
  white-space: nowrap;
}

.page-footer__github-link {
  img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

.page-header__github-link {
  img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}